/* linkeado a la pagina de contenedores html*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
header, nav, main, aside, footer {
    padding: 20px;
    margin: 10px;
}
header {
    background-color: #4CAF50;
    color: white;
}
nav {
    background-color: #333;
    color: white;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
main {
    display: flex;   /*flexible para evitar superposicionamiento*/
}
section {
    flex: 2;  /*El atributo flex: 2 es un atajo en CSS que define cómo un elemento se ajusta a un contenedor flexible, 
    combinando principalmente flex-grow y flex-shrink. En este caso, flex: 2 equivale a flex: 2 1 0, lo que indica que
     el elemento tiene una proporción de crecimiento de 2, una proporción de contracción de 1 y una base flexible de 0
     . Esto significa que el elemento crecerá o se encogerá para llenar el espacio disponible, y el valor "2" le da el 
     doble de capacidad de crecer en comparación con otros elementos con un flex-grow menor en el mismo contenedor.*/
    background-color: #b92b2b;
    padding: 10px;
}
aside {
    flex: 0;
    background-color: #99a7d6;
    padding: 10px;
    max-width: 150px;
    height: 270px; 
    flex-direction: column;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
}
article {
    background-color: #d1dfa1;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
}
.contenedor {
    max-width: 1200px;
    margin: auto;
}
.margen_imagen{
    margin-right: 20px;
}
.aside_imagenes{
    background-color: white;
    height: 270px;
    width: 150px;
}
.color_link {
    color: rgb(17, 5, 129);
}
.color_link:hover {
    color: rgb(230, 230, 8);
    font-family:Georgia;
}
.primera_letra {
    color: darkslateblue;
}
.primera_letra::first-letter{
    color: rgb(3, 82, 9);
    font-size: 150%;
}
.gucci_historia::selection {
    color: brown;
    background-color: yellow;
}
.clase_static {
    font-size: 20px;
    background-color: aqua;
    position: static;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 200px;
}
.clase_static_2 {
    font-size: 20px;
    background-color: aqua;
    position: static;
    top: 20px;
    left: 80px;
    right: 200px;
}
.clase_relative{
    font-size: 20px;
    background-color: rgb(62, 100, 226);
    height: 250px;
    width: 200px;
}
.clase_relative:hover{
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}
.clase_relative_index{
    font-size: 20px;
    background-color: #99a7d6;
    height: 250px;
    width: 200px;
}
.clase_relative_index:hover{
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 10;
}
.clase_absolute{
    font-size: 20px;
    background-color: #99a7d6;
    height: 160px;
    width: 160px;
    position: absolute;
    top: 14px;
    left:1000px;
}
.clase_relative2{
    font-size: 20px;
    background-color: darkgray;
    height: 250px;
    width: 200px;
    position: relative;
}
.clase_absolute_relative{
    font-size: 20px;
    background-color: #cccccc;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 100px;
    left: 900px;
    z-index: 5;
}
.clase_fixed{
    height: 1000px;
    width: 800px;
    position: fixed;
    left: 600px;
    bottom: 0px;
}
.marcaagua{
    opacity: 0.1;
    pointer-events: none;
    z-index: 999;
}
.clase_sticky{
    position: sticky;
    font-size: 40px;
    top: 0px;
    left: 40px;
    height: 300px;
}
.clase_float_right2{
    float: left;
    background-color: rgb(156, 95, 15);
    margin: 5px;
}
.bloque{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
}
.tipo_inlineblock{
    background-color: rgb(156, 95, 15);
    font-size: 30px;
    margin: 10px;
    color: burlywood;
    display: inline-block;
    width: 500px;
}
.enlinea{
    background-color: red;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: beige;
    width: 80px;
    height: 40px;
}
.tiponone{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
    display: none;
}
.tipohidden{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
    visibility: hidden;
}
.tipoflex{
    display: flex;
    background-color: rgb(0,204,255);
    align-items: center;
    justify-content: space-between;
}
.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 15px; /* Espacio entre celdas */
}
  
.item img {
    max-width: 100%; /* Para que no se desborde */
 }
  
.item {
    display: flex;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    font-size: 30px;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
}
#Mivideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; /*Asegura que el video ocupe al menos todo el ancho de su contenedor */
    min-height: 100%; /*Asegura que el video ocupe al menos todo el alto de su contenedor */
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover; /*imagen de fondo cubra todo el contenedor,
                             incluso si tienes que recortarla o agrandarla. */
    overflow: hidden; /*Oculta cualquier contenido que se salga del área visible del elemento */
}
.clasenav { 
    /* estilo para nav */
    background-color: rgb(0, 255, 115); 
    font-size: 30px; 
    /*margin: 20px; */
    padding-inline: 0px; 
    color: black; 
    display: inline; 
    list-style-type: none; 
}
  
  .clasenav a:hover {
    background-color: chocolate;
}
.clasenav ul {
    list-style-type: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
  
.clasenav li a {
    text-decoration: none;
    padding: 6px 11px;
    display: block;
}
.clasenav > li {
    float: right;
}
  
.clasenav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
  
.clasenav li:hover > ul {
    display: block;
}
#ejmDOM1{
    color: #da981e;
    font-weight: bold;
}

