/*Archivo css externo linkrado a index.html*/

h1{
    color: rgba(202, 32, 32, 0.712);
    font-size: 50px;
    background-color: rgb(178, 187, 196);
    font-family: 'Times New Roman';
    font-style: italic;
}
h2{
    color: midnightblue;
    font-size: 25px;
    background-color: azure;
    font-family: Georgia;
    font-style: oblique;
}
p{
    color:mediumblue ;
    font-size: 15px;
    font-family:monospace;
    font-style: italic;
}
div{
    color:red ;
    background-color: bisque;
}
div p{          /*estilo solo para cualquier parrafo dentro de algun div,*/
    font-size: 30px;
    color: darkblue;
}
p label{
    font-size: 25px;
    font-family: Georgia;
}
p label input{
    font-size: 30px;
    font-family:Georgia;
}